<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>BankAPIwar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.revature.liam.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.liam.servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.revature.liam.servlets.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.revature.liam.servlets.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/users/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Accounts</display-name>
    <servlet-name>Accounts</servlet-name>
    <servlet-class>com.revature.liam.servlets.Accounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accounts</servlet-name>
    <url-pattern>/accounts/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>accountsByOwner</display-name>
    <servlet-name>accountsByOwner</servlet-name>
    <servlet-class>com.revature.liam.servlets.accountsByOwner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>accountsByOwner</servlet-name>
    <url-pattern>/accountsByOwner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsByStatus</display-name>
    <servlet-name>AccountsByStatus</servlet-name>
    <servlet-class>com.revature.liam.servlets.AccountsByStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsByStatus</servlet-name>
    <url-pattern>/AccountsByStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BalanceManager</display-name>
    <servlet-name>BalanceManager</servlet-name>
    <servlet-class>com.revature.liam.servlets.BalanceManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BalanceManager</servlet-name>
    <url-pattern>/BalanceManager</url-pattern>
  </servlet-mapping>
</web-app>